.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #dbf0ff;
}

.display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #d5f7e8;
}

.history {
    height: 100px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #ecebed;
}

.clear-history {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #ffdead;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.number {
    background-color: #efdecd;
}

.operator {
    background-color: #ffca86;
    color: black;
}


