body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
    background: #f3f3f3;
}

h1 {
    margin-bottom: 20px;
}

.calculator {
    width: 260px;
    margin: 0 auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.btn {
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}


.number {
    background: #e0e0e0;
}

.operator {
    background: #ffd966;
}

.equal {
    background: #8fd694;
}

.clear {
    background: #ff6666;
}

.zero {
    grid-column: span 2;
}


.history-box {
    width: 260px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

#history {
    height: 120px;
    overflow-y: auto;
    text-align: left;
    border: 1px solid #ddd;
    padding: 5px;
}

.clear-history-btn {
    margin-top: 10px;
    background: #c8c8c8;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
