h1 {
    color: red;
    font-family: Arial;
    text-align: center;
}

#data-user-table {
    color: darkgreen;
    text-decoration: underline;
}

table, tr, th, td {
    border: 1px solid;
}

#color-box {
    width: 150px;
    height: 150px;
    background: lightgray;
    margin-top: 10px;
    border: 1px solid #888
}

.common-button {
    background: burlywood;
    border-radius: 10px;
    margin-right: 10px;
}
}